{% extends "register-login/base.html" %}
{% load static %}
{% load custom_filters %}

{% block body %}
<section class="vh-100" style="background-color: #2779e2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Yotoqxonaga buyurtma berish</h1>
  
          <div class="card" style="border-radius: 15px;">
            <form class="mx-1 mx-md-4" method='POST'>
                {% csrf_token %}
                <div class="card-body">
                    {{ form.as_p }}
                    <div class="px-5 py-4">
                        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Send application</button>
                    </div>
                </div>
            </form>
        </div>
        
  
        </div>
      </div>
    </div>
  </section>
                
{% endblock body %}