{% extends "register-login/base.html" %}
{% load static %}
{% block body %}
<section class="vh-100" style="background-color: #2779e2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Demoni Ko'rish</h1>
  
          <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <div class="px-5 py-4">
                    <center><a href="{% url 'demo-redirection' action='role-mudir' %}" class="btn btn-primary btn-lg btn-block">TTJ Mudiri rolida demoni ko'rish</a></center>
                </div>
                <div class="px-5 py-4">
                    <center><a href="{% url 'demo-redirection' action='role-reviewer' %}" class="btn btn-primary btn-lg btn-block">So'rovlarni Ko'ruvchi Universitet xodimi Ro'lida demoni ko'rish</a></center>
                </div>
                <div class="px-5 py-4">
                    <center><a href="{% url 'registration' %}" class="btn btn-secondary btn-lg btn-block"><center>TTJ dan Joy olishga so'rov yuborish</center></a></center>
                </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
                
{% endblock body %}